h1, h3{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
  }
.woman-card, .man-card{
  border:0;
  border-radius: 20px;
  
  }
  .woman-card .img-thumbnail{
    border-radius: 20px;
    background-color: #f1f1f1;

  }

  .man-card .img-thumbnail{
    border-radius: 20px;
    background-color: #f1f1f1;
  }
.woman-card-footer, .man-card-footer{
  background-color: white;
  border: 0;
}
.head-color{
  background-color: #fff0fe;
}

.color-pink{
  background-color:#da70d6;
}

.catagories .ending img{
  width: 100px;
  
}



